In [ ]:
!pip install alpha_Vantage

Collecting alpha_Vantage
  Downloading alpha_vantage-3.0.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.11/dist-packages (from alpha_Vantage) (3.11.11)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from alpha_Vantage) (2.32.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->alpha_Vantage) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp->alpha_Vantage) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->alpha_Vantage) (25.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp->alpha_Vantage) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp->alpha_Vantage) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->alpha_Vantage) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->alpha_Vantage) (1.18.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->alpha_Vantage) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->alpha_Vantage) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->alpha_Vantage) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->alpha_Vantage) (2024.12.14)
Downloading alpha_vantage-3.0.0-py3-none-any.whl (35 kB)
Installing collected packages: alpha_Vantage
Successfully installed alpha_Vantage-3.0.0

In [ ]:
api = 'QV987QRTESUMF8WK'

In [ ]:
from alpha_vantage.timeseries import TimeSeries

In [ ]:
from alpha_vantage.techindicators import TechIndicators

In [ ]:
ts = TimeSeries(key=api,output_format = 'pandas')

In [ ]:
ts_IBM = ts.get_daily(symbol='IBM',outputsize='full')

In [ ]:
ti = TechIndicators(key = api,output_format ='pandas')

In [ ]:
ti_IBM = ti.get_sma(symbol='IBM',interval='daily',time_period = 10,series_type = 'close')

In [ ]:
import pandas as pd

# Assuming 'ts_IBM' is the data fetched and it contains the columns 'open', 'high', 'low', 'close'

# Extracting the relevant columns from ts_IBM (assuming ts_IBM[0] is a DataFrame)
df_IBM = ts_IBM[0]


df_IBM.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_IBM.head())

        date  1. open   2. high  3. low  4. close   5. volume
0 2025-01-30   250.00  261.8000  247.01    258.27  15381890.0
1 2025-01-29   225.62  229.4700  223.73    228.63   7079804.0
2 2025-01-28   224.32  225.7700  221.77    225.66   4485429.0
3 2025-01-27   222.19  224.3000  219.84    224.13   4898355.0
4 2025-01-24   225.27  226.8104  223.80    224.80   3233293.0

In [ ]:
print(df_IBM.columns)
print(df_IBM.head())

Index(['date', '1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')
        date  1. open   2. high  3. low  4. close   5. volume
0 2025-01-30   250.00  261.8000  247.01    258.27  15381890.0
1 2025-01-29   225.62  229.4700  223.73    228.63   7079804.0
2 2025-01-28   224.32  225.7700  221.77    225.66   4485429.0
3 2025-01-27   222.19  224.3000  219.84    224.13   4898355.0
4 2025-01-24   225.27  226.8104  223.80    224.80   3233293.0

In [ ]:
df_IBM.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

In [ ]:
df_IBM['average_price'] = df_IBM[['open', 'high', 'low', 'close']].mean(axis=1)

In [ ]:
# Calculate Price Range (High - Low)
df_IBM['price_range'] = df_IBM['high'] - df_IBM['low']

# Calculate Price Change (Close - Open)
df_IBM['price_change'] = df_IBM['close'] - df_IBM['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_IBM['volatility'] = df_IBM['price_change'].rolling(window=30).std()

# Displaying the first few rows with calculated metrics
print(df_IBM[['average_price', 'price_range', 'price_change', 'volatility']].head())
df_IBM['symbol'] = 'IBM'

   average_price  price_range  price_change  volatility
0       254.2700      14.7900          8.27         NaN
1       226.8625       5.7400          3.01         NaN
2       224.3800       4.0000          1.34         NaN
3       222.6150       4.4600          1.94         NaN
4       225.1701       3.0104         -0.47         NaN

In [ ]:
import pandas as pd
ti_IBM[0]

# Convert ti_IBM to a DataFrame
df_sma = ti_IBM[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_IBM = pd.merge(df_IBM, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_IBM.head())

        date    open      high     low   close      volume  average_price  \
0 2025-01-30  250.00  261.8000  247.01  258.27  15381890.0       254.2700
1 2025-01-29  225.62  229.4700  223.73  228.63   7079804.0       226.8625
2 2025-01-28  224.32  225.7700  221.77  225.66   4485429.0       224.3800
3 2025-01-27  222.19  224.3000  219.84  224.13   4898355.0       222.6150
4 2025-01-24  225.27  226.8104  223.80  224.80   3233293.0       225.1701

   price_range  price_change  volatility symbol      sma
0      14.7900          8.27         NaN    IBM  228.250
1       5.7400          3.01         NaN    IBM  224.426
2       4.0000          1.34         NaN    IBM  223.338
3       4.4600          1.94         NaN    IBM  222.512
4       3.0104         -0.47         NaN    IBM  222.074

In [ ]:
ts_MSFT = ts.get_daily(symbol='MSFT',outputsize='full')
ts_MSFT[0]
df_MFST = ts_MSFT[0]
df_MFST.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_MFST.head())
df_MFST.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_MFST['average_price'] = df_MFST[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_MFST['price_range'] = df_MFST['high'] - df_MFST['low']

# Calculate Price Change (Close - Open)
df_MFST['price_change'] = df_MFST['close'] - df_MFST['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_MFST['volatility'] = df_MFST['price_change'].rolling(window=30).std()
df_MFST['symbol'] = 'MFST'

# Displaying the first few rows with calculated metrics
print(df_MFST[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_MFST = ti.get_sma(symbol='MFST',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_MFST[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_MFST[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_MFST = pd.merge(df_MFST, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_MFST.head())

        date  1. open  2. high  3. low  4. close   5. volume
0 2025-01-30   418.77   422.86  413.16    414.99  54586260.0
1 2025-01-29   446.69   446.88  440.40    442.33  23581370.0
2 2025-01-28   434.60   448.38  431.38    447.20  23491703.0
3 2025-01-27   424.01   435.20  423.50    434.56  35647805.0
4 2025-01-24   445.16   446.65  441.40    444.06  15549453.0
   average_price  price_range  price_change  volatility
0       417.4450         9.70         -3.78         NaN
1       444.0750         6.48         -4.36         NaN
2       440.3900        17.00         12.60         NaN
3       429.3175        11.70         10.55         NaN
4       444.3175         5.25         -1.10         NaN
        date    open    high     low   close      volume  average_price  \
0 2025-01-30  418.77  422.86  413.16  414.99  54586260.0       417.4450
1 2025-01-29  446.69  446.88  440.40  442.33  23581370.0       444.0750
2 2025-01-28  434.60  448.38  431.38  447.20  23491703.0       440.3900
3 2025-01-27  424.01  435.20  423.50  434.56  35647805.0       429.3175
4 2025-01-24  445.16  446.65  441.40  444.06  15549453.0       444.3175

   price_range  price_change  volatility symbol  sma
0         9.70         -3.78         NaN   MFST  NaN
1         6.48         -4.36         NaN   MFST  NaN
2        17.00         12.60         NaN   MFST  NaN
3        11.70         10.55         NaN   MFST  NaN
4         5.25         -1.10         NaN   MFST  NaN

In [ ]:
merged_df_MFST

,date,open,high,low,close,volume,average_price,price_range,price_change,volatility,symbol,sma
0,2025-01-30,418.77,422.86,413.16,414.99,54586260.0,417.4450,9.70,-3.78,NaN,MFST,NaN
1,2025-01-29,446.69,446.88,440.40,442.33,23581370.0,444.0750,6.48,-4.36,NaN,MFST,NaN
2,2025-01-28,434.60,448.38,431.38,447.20,23491703.0,440.3900,17.00,12.60,NaN,MFST,NaN
3,2025-01-27,424.01,435.20,423.50,434.56,35647805.0,429.3175,11.70,10.55,NaN,MFST,NaN
4,2025-01-24,445.16,446.65,441.40,444.06,15549453.0,444.3175,5.25,-1.10,NaN,MFST,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6346,1999-11-05,91.81,92.87,90.50,91.56,35083700.0,91.6850,2.37,-0.25,2.391429,MFST,NaN
6347,1999-11-04,92.31,92.75,90.31,91.75,27119700.0,91.7800,2.44,-0.56,2.369159,MFST,NaN
6348,1999-11-03,92.94,93.50,91.50,92.00,22258500.0,92.4850,2.00,-0.94,2.298142,MFST,NaN
6349,1999-11-02,92.75,94.50,91.94,92.56,23174500.0,92.9375,2.56,-0.19,1.527350,MFST,NaN
6350,1999-11-01,93.25,94.19,92.12,92.37,26630600.0,92.9825,2.07,-0.88,1.493787,MFST,NaN

In [ ]:
ts_TSLA = ts.get_daily(symbol='TSLA',outputsize='full')
ts_TSLA[0]
df_TSLA = ts_MSFT[0]
df_TSLA.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_TSLA.head())
df_TSLA.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_TSLA['average_price'] = df_TSLA[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_TSLA['price_range'] = df_TSLA['high'] - df_TSLA['low']

# Calculate Price Change (Close - Open)
df_TSLA['price_change'] = df_TSLA['close'] - df_TSLA['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_TSLA['volatility'] = df_TSLA['price_change'].rolling(window=30).std()
df_TSLA['symbol'] = 'TSLA'

# Displaying the first few rows with calculated metrics
print(df_TSLA[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_TSLA = ti.get_sma(symbol='TSLA',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_TSLA[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_TSLA[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_TSLA = pd.merge(df_TSLA, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_TSLA.head())

   index       date    open    high     low   close      volume  \
0      0 2025-01-30  418.77  422.86  413.16  414.99  54586260.0
1      1 2025-01-29  446.69  446.88  440.40  442.33  23581370.0
2      2 2025-01-28  434.60  448.38  431.38  447.20  23491703.0
3      3 2025-01-27  424.01  435.20  423.50  434.56  35647805.0
4      4 2025-01-24  445.16  446.65  441.40  444.06  15549453.0

   average_price  price_range  price_change  volatility symbol
0       417.4450         9.70         -3.78         NaN   MFST
1       444.0750         6.48         -4.36         NaN   MFST
2       440.3900        17.00         12.60         NaN   MFST
3       429.3175        11.70         10.55         NaN   MFST
4       444.3175         5.25         -1.10         NaN   MFST
   average_price  price_range  price_change  volatility
0       417.4450         9.70         -3.78         NaN
1       444.0750         6.48         -4.36         NaN
2       440.3900        17.00         12.60         NaN
3       429.3175        11.70         10.55         NaN
4       444.3175         5.25         -1.10         NaN
   index       date    open    high     low   close      volume  \
0      0 2025-01-30  418.77  422.86  413.16  414.99  54586260.0
1      1 2025-01-29  446.69  446.88  440.40  442.33  23581370.0
2      2 2025-01-28  434.60  448.38  431.38  447.20  23491703.0
3      3 2025-01-27  424.01  435.20  423.50  434.56  35647805.0
4      4 2025-01-24  445.16  446.65  441.40  444.06  15549453.0

   average_price  price_range  price_change  volatility symbol      sma
0       417.4450         9.70         -3.78         NaN   TSLA  408.308
1       444.0750         6.48         -4.36         NaN   TSLA  411.102
2       440.3900        17.00         12.60         NaN   TSLA  411.828
3       429.3175        11.70         10.55         NaN   TSLA  412.350
4       444.3175         5.25         -1.10         NaN   TSLA  412.109

In [ ]:
ts_AMZN = ts.get_daily(symbol='AMZN',outputsize='full')
ts_AMZN[0]
df_AMZN = ts_AMZN[0]
df_AMZN.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_AMZN.head())
df_AMZN.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_AMZN['average_price'] = df_AMZN[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_AMZN['price_range'] = df_AMZN['high'] - df_AMZN['low']

# Calculate Price Change (Close - Open)
df_AMZN['price_change'] = df_AMZN['close'] - df_AMZN['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_AMZN['volatility'] = df_AMZN['price_change'].rolling(window=30).std()
df_AMZN['symbol'] = 'AMZN'

# Displaying the first few rows with calculated metrics
print(df_AMZN[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_AMZN = ti.get_sma(symbol='MFST',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_AMZN[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_AMZN[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_AMZN = pd.merge(df_AMZN, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_AMZN.head())

        date  1. open  2. high  3. low  4. close   5. volume
0 2025-01-30  237.140   237.95  232.22    234.64  32020728.0
1 2025-01-29  239.015   240.39  236.15    237.07  26091716.0
2 2025-01-28  234.290   241.77  233.98    238.15  41587188.0
3 2025-01-27  226.210   235.61  225.86    235.42  49428332.0
4 2025-01-24  234.500   236.40  232.93    234.85  25890738.0
   average_price  price_range  price_change  volatility
0      235.48750         5.73        -2.500         NaN
1      238.15625         4.24        -1.945         NaN
2      237.04750         7.79         3.860         NaN
3      230.77500         9.75         9.210         NaN
4      234.67000         3.47         0.350         NaN
        date     open    high     low   close      volume  average_price  \
0 2025-01-30  237.140  237.95  232.22  234.64  32020728.0      235.48750
1 2025-01-29  239.015  240.39  236.15  237.07  26091716.0      238.15625
2 2025-01-28  234.290  241.77  233.98  238.15  41587188.0      237.04750
3 2025-01-27  226.210  235.61  225.86  235.42  49428332.0      230.77500
4 2025-01-24  234.500  236.40  232.93  234.85  25890738.0      234.67000

   price_range  price_change  volatility symbol  sma
0         5.73        -2.500         NaN   AMZN  NaN
1         4.24        -1.945         NaN   AMZN  NaN
2         7.79         3.860         NaN   AMZN  NaN
3         9.75         9.210         NaN   AMZN  NaN
4         3.47         0.350         NaN   AMZN  NaN

In [ ]:
ts_GOOGL = ts.get_daily(symbol='GOOGL',outputsize='full')
ts_GOOGL[0]
df_GOOGL = ts_GOOGL[0]
df_GOOGL.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_GOOGL.head())
df_GOOGL.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_GOOGL['average_price'] = df_GOOGL[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_GOOGL['price_range'] = df_GOOGL['high'] - df_GOOGL['low']

# Calculate Price Change (Close - Open)
df_GOOGL['price_change'] = df_GOOGL['close'] - df_GOOGL['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_GOOGL['volatility'] = df_GOOGL['price_change'].rolling(window=30).std()
df_GOOGL['symbol'] = 'GOOGL'

# Displaying the first few rows with calculated metrics
print(df_GOOGL[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_GOOGL = ti.get_sma(symbol='GOOGL',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_GOOGL[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_GOOGL[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_GOOGL = pd.merge(df_GOOGL, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_GOOGL.head())

        date  1. open  2. high  3. low  4. close   5. volume
0 2025-01-30  198.000  201.400  197.67    200.87  24354684.0
1 2025-01-29  195.555  196.785  193.43    195.41  18218256.0
2 2025-01-28  192.745  195.480  190.68    195.30  24157929.0
3 2025-01-27  192.410  196.880  190.73    191.81  41728893.0
4 2025-01-24  198.100  200.900  198.00    200.21  23877521.0
   average_price  price_range  price_change  volatility
0      199.48500        3.730         2.870         NaN
1      195.29500        3.355        -0.145         NaN
2      193.55125        4.800         2.555         NaN
3      192.95750        6.150        -0.600         NaN
4      199.30250        2.900         2.110         NaN
        date     open     high     low   close      volume  average_price  \
0 2025-01-30  198.000  201.400  197.67  200.87  24354684.0      199.48500
1 2025-01-29  195.555  196.785  193.43  195.41  18218256.0      195.29500
2 2025-01-28  192.745  195.480  190.68  195.30  24157929.0      193.55125
3 2025-01-27  192.410  196.880  190.73  191.81  41728893.0      192.95750
4 2025-01-24  198.100  200.900  198.00  200.21  23877521.0      199.30250

   price_range  price_change  volatility symbol      sma
0        3.730         2.870         NaN  GOOGL  196.691
1        3.355        -0.145         NaN  GOOGL  196.159
2        4.800         2.555         NaN  GOOGL  195.584
3        6.150        -0.600         NaN  GOOGL  195.155
4        2.900         2.110         NaN  GOOGL  195.178

In [ ]:
merged_df_GOOGL

,date,open,high,low,close,volume,average_price,price_range,price_change,volatility,symbol,sma
0,2025-01-30,198.000,201.400,197.67,200.870,24354684.0,199.48500,3.730,2.870,NaN,GOOGL,196.691
1,2025-01-29,195.555,196.785,193.43,195.410,18218256.0,195.29500,3.355,-0.145,NaN,GOOGL,196.159
2,2025-01-28,192.745,195.480,190.68,195.300,24157929.0,193.55125,4.800,2.555,NaN,GOOGL,195.584
3,2025-01-27,192.410,196.880,190.73,191.810,41728893.0,192.95750,6.150,-0.600,NaN,GOOGL,195.155
4,2025-01-24,198.100,200.900,198.00,200.210,23877521.0,199.30250,2.900,2.110,NaN,GOOGL,195.178
...,...,...,...,...,...,...,...,...,...,...,...,...
5141,2004-08-25,104.760,108.000,103.88,106.000,9188600.0,105.66000,4.120,1.240,2.245699,GOOGL,NaN
5142,2004-08-24,111.240,111.600,103.57,104.870,15247300.0,107.82000,8.030,-6.370,2.606094,GOOGL,NaN
5143,2004-08-23,110.760,113.480,109.05,109.400,18256100.0,110.67250,4.430,-1.360,2.575777,GOOGL,NaN
5144,2004-08-20,101.010,109.080,100.50,108.310,22834300.0,104.72500,8.580,7.300,2.841371,GOOGL,NaN
5145,2004-08-19,100.010,104.060,95.96,100.335,44659000.0,100.09125,8.100,0.325,2.838101,GOOGL,NaN

In [ ]:
Google = merged_df_GOOGL
Tesla = merged_df_TSLA
IBM = merged_df_IBM
Amazon = merged_df_AMZN
Microsoft = merged_df_MFST

In [ ]:
# Define the start and end date for filtering
start_date = '2023-01-01'
end_date = '2025-01-29'

# Filter each DataFrame based on the date range
Google = Google[(Google['date'] >= start_date) & (Google['date'] <= end_date)]
Tesla= Tesla[(Tesla['date'] >= start_date) & (Tesla['date'] <= end_date)]
IBM = IBM[(IBM['date'] >= start_date) & (IBM['date'] <= end_date)]
Amazon = Amazon[(Amazon['date'] >= start_date) & (Amazon['date'] <= end_date)]
Microsoft = Microsoft[(Microsoft['date'] >= start_date) & (Microsoft['date'] <= end_date)]

# Now the filtered DataFrames are stored in separate variables.
# You can print or work with them further.
print(Google)
print(Tesla)
print(IBM)
print(Amazon)
print(Microsoft)

          date     open     high      low   close      volume  average_price  \
1   2025-01-29  195.555  196.785  193.430  195.41  18218256.0      195.29500
2   2025-01-28  192.745  195.480  190.680  195.30  24157929.0      193.55125
3   2025-01-27  192.410  196.880  190.730  191.81  41728893.0      192.95750
4   2025-01-24  198.100  200.900  198.000  200.21  23877521.0      199.30250
5   2025-01-23  198.140  200.300  195.200  197.98  26951357.0      197.90500
..         ...      ...      ...      ...     ...         ...            ...
516 2023-01-09   88.360   90.050   87.860   88.02  29003901.0       88.57250
517 2023-01-06   86.790   87.690   84.860   87.34  41381495.0       86.67000
518 2023-01-05   87.470   87.570   85.900   86.20  27194375.0       86.78500
519 2023-01-04   90.350   90.650   87.271   88.08  34854776.0       89.08775
520 2023-01-03   89.585   91.050   88.520   89.12  28131224.0       89.56875

     price_range  price_change  volatility symbol       sma
1          3.355        -0.145         NaN  GOOGL  196.1590
2          4.800         2.555         NaN  GOOGL  195.5840
3          6.150        -0.600         NaN  GOOGL  195.1550
4          2.900         2.110         NaN  GOOGL  195.1780
5          5.100        -0.160         NaN  GOOGL  194.5520
..           ...           ...         ...    ...       ...
516        2.190        -0.340    1.881126  GOOGL   87.4902
517        2.830         0.550    1.850683  GOOGL   87.4643
518        1.670        -1.270    1.872186  GOOGL   87.6875
519        3.379        -2.270    1.943385  GOOGL   87.9685
520        2.530        -0.465    1.916733  GOOGL   88.0043

[520 rows x 12 columns]
     index       date     open      high       low   close      volume  \
1        1 2025-01-29  446.690  446.8800  440.4000  442.33  23581370.0
2        2 2025-01-28  434.600  448.3800  431.3800  447.20  23491703.0
3        3 2025-01-27  424.010  435.2000  423.5000  434.56  35647805.0
4        4 2025-01-24  445.160  446.6500  441.4000  444.06  15549453.0
5        5 2025-01-23  442.000  446.7500  441.5048  446.71  18389270.0
..     ...        ...      ...       ...       ...     ...         ...
516    516 2023-01-09  226.450  231.2366  226.4100  227.12  27369784.0
517    517 2023-01-06  223.000  225.7601  219.3500  224.93  43613574.0
518    518 2023-01-05  227.200  227.5500  221.7602  222.31  39585623.0
519    519 2023-01-04  232.275  232.8700  225.9600  229.10  50623394.0
520    520 2023-01-03  243.080  245.7500  237.4000  239.58  25740036.0

     average_price  price_range  price_change  volatility symbol      sma
1       444.075000       6.4800        -4.360         NaN   TSLA  411.102
2       440.390000      17.0000        12.600         NaN   TSLA  411.828
3       429.317500      11.7000        10.550         NaN   TSLA  412.350
4       444.317500       5.2500        -1.100         NaN   TSLA  412.109
5       444.241200       5.2452         4.710         NaN   TSLA  410.945
..             ...          ...           ...         ...    ...      ...
516     227.804150       4.8266         0.670    3.930401   TSLA  115.487
517     223.260025       6.4101         1.930    3.903015   TSLA  116.045
518     224.705050       5.7898        -4.890    4.027003   TSLA  118.496
519     230.051250       6.9100        -3.175    4.064111   TSLA  121.242
520     241.452500       8.3500        -3.500    4.138527   TSLA  124.865

[520 rows x 13 columns]
          date    open      high       low   close     volume  average_price  \
1   2025-01-29  225.62  229.4700  223.7300  228.63  7079804.0     226.862500
2   2025-01-28  224.32  225.7700  221.7700  225.66  4485429.0     224.380000
3   2025-01-27  222.19  224.3000  219.8400  224.13  4898355.0     222.615000
4   2025-01-24  225.27  226.8104  223.8000  224.80  3233293.0     225.170100
5   2025-01-23  223.94  226.0400  223.1500  226.04  3619651.0     224.792500
..         ...     ...       ...       ...     ...        ...            ...
516 2023-01-09  144.08  145.4700  143.4000  143.55  3987782.0     144.125000
517 2023-01-06  142.38  144.2500  141.5800  143.70  3574042.0     142.977500
518 2023-01-05  142.44  142.4980  140.0100  141.11  2866648.0     141.514500
519 2023-01-04  142.07  143.6150  141.3675  142.60  3869236.0     142.413125
520 2023-01-03  141.10  141.9000  140.4800  141.55  3338829.0     141.257500

     price_range  price_change  volatility symbol       sma
1         5.7400          3.01         NaN    IBM  224.4260
2         4.0000          1.34         NaN    IBM  223.3380
3         4.4600          1.94         NaN    IBM  222.5120
4         3.0104         -0.47         NaN    IBM  222.0740
5         2.8900          2.10         NaN    IBM  221.9120
..           ...           ...         ...    ...       ...
516       2.0700         -0.53    1.327167    IBM  130.3946
517       2.6700          1.32    1.279620    IBM  130.1492
518       2.4880         -1.33    1.301722    IBM  130.0058
519       2.2475          0.53    1.300274    IBM  130.0214
520       1.4200          0.45    1.284475    IBM  129.6786

[520 rows x 12 columns]
          date     open    high      low   close      volume  average_price  \
1   2025-01-29  239.015  240.39  236.150  237.07  26091716.0      238.15625
2   2025-01-28  234.290  241.77  233.980  238.15  41587188.0      237.04750
3   2025-01-27  226.210  235.61  225.860  235.42  49428332.0      230.77500
4   2025-01-24  234.500  236.40  232.930  234.85  25890738.0      234.67000
5   2025-01-23  234.100  235.52  231.510  235.42  26404364.0      234.13750
..         ...      ...     ...      ...     ...         ...            ...
516 2023-01-09   87.460   89.48   87.080   87.36  65266056.0       87.84500
517 2023-01-06   83.030   86.40   81.430   86.08  83303361.0       84.23500
518 2023-01-05   85.330   85.42   83.070   83.12  67930825.0       84.23500
519 2023-01-04   86.550   86.98   83.360   85.14  68885123.0       85.50750
520 2023-01-03   85.460   86.96   84.205   85.82  76706040.0       85.61125

     price_range  price_change  volatility symbol  sma
1          4.240        -1.945         NaN   AMZN  NaN
2          7.790         3.860         NaN   AMZN  NaN
3          9.750         9.210         NaN   AMZN  NaN
4          3.470         0.350         NaN   AMZN  NaN
5          4.010         1.320         NaN   AMZN  NaN
..           ...           ...         ...    ...  ...
516        2.400        -0.100    2.129949   AMZN  NaN
517        4.970         3.050    2.161841   AMZN  NaN
518        2.350        -2.210    2.214299   AMZN  NaN
519        3.620        -1.410    2.224440   AMZN  NaN
520        2.755         0.360    2.207957   AMZN  NaN

[520 rows x 12 columns]
          date     open      high       low   close      volume  \
1   2025-01-29  446.690  446.8800  440.4000  442.33  23581370.0
2   2025-01-28  434.600  448.3800  431.3800  447.20  23491703.0
3   2025-01-27  424.010  435.2000  423.5000  434.56  35647805.0
4   2025-01-24  445.160  446.6500  441.4000  444.06  15549453.0
5   2025-01-23  442.000  446.7500  441.5048  446.71  18389270.0
..         ...      ...       ...       ...     ...         ...
516 2023-01-09  226.450  231.2366  226.4100  227.12  27369784.0
517 2023-01-06  223.000  225.7601  219.3500  224.93  43613574.0
518 2023-01-05  227.200  227.5500  221.7602  222.31  39585623.0
519 2023-01-04  232.275  232.8700  225.9600  229.10  50623394.0
520 2023-01-03  243.080  245.7500  237.4000  239.58  25740036.0

     average_price  price_range  price_change  volatility symbol  sma
1       444.075000       6.4800        -4.360         NaN   MFST  NaN
2       440.390000      17.0000        12.600         NaN   MFST  NaN
3       429.317500      11.7000        10.550         NaN   MFST  NaN
4       444.317500       5.2500        -1.100         NaN   MFST  NaN
5       444.241200       5.2452         4.710         NaN   MFST  NaN
..             ...          ...           ...         ...    ...  ...
516     227.804150       4.8266         0.670    3.930401   MFST  NaN
517     223.260025       6.4101         1.930    3.903015   MFST  NaN
518     224.705050       5.7898        -4.890    4.027003   MFST  NaN
519     230.051250       6.9100        -3.175    4.064111   MFST  NaN
520     241.452500       8.3500        -3.500    4.138527   MFST  NaN

[520 rows x 12 columns]